{% load static %}<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OwlGuard - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link href="{% static 'css/dashboard.css'%}" type="text/css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block head %}
    {% endblock %}

  </head>
  <body>
    {% include "partials/_sidebar.html" %}

    <div class="content">
      {% include "partials/_navbar.html" %}
      <main>
        {% block content %}

        {% endblock content %}
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
