{% load static %}<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OwlGuard - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'css/authentication.css'%}" rel="stylesheet">
{% include "partials/_theme.html" %}
  </head>
  <body>


<div class="container-fluid">
  <div class="row">
    <main role="main">
        {% block content %}
        {% endblock content %}
    </main>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    <script src="{% static 'js/account.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
