{% extends "base.html" %}
{% block title %}Rules{% endblock title %}
{% block content %}
<div class="header">
    <div class="left">
        <h1>Rules</h1>
        <ul class="breadcrumb">
            <li><a href="#">Rules</a></li>
            <li class="menu-separator">/</li>
            <li><a href="#" class="active">Dashboard</a></li>
        </ul>
    </div>
    <a href="{% url 'createRule' %}" class="report">
        <i class='bx bx-add-to-queue'></i>
        <span>Create rules</span>
    </a>
</div>
<div class="bottom-data">
    <div class="documentations">
        <div class="header">
            <i class='bx bx-book-open'></i>
            <h3>Rules</h3>
            <div class="filter-info">
            </div>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div>
        <table id="rulesTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Creation Date</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% if extractedRuleInfo|length > 0 %}
                {% for rule in extractedRuleInfo %}
                <tr onclick="rowClicked('{{ rule.id }}')">
                    <td>{{ rule.title }}</td>
                    <td class="date-cell">{{ rule.import_at }}</td>
                    <td class="center-cell">{{ rule.author }}</td>
                    <td><span class="status {% if rule.status == 0 %}process{% else %}completed{% endif %}">{% if rule.status == 0 %}Disable{% else %}Enable{% endif %}</span></td> 
                    <td class="center-cell">{% for tag in rule.tags %}<a href="#" class="tag" onclick="filterByTag('{{ tag.title }}'); event.stopPropagation();">{{ tag.title }}</a>{% endfor %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="no-rule-info">
                        <i class='bx bx-info-circle'></i>
                        <span>You did not create any rule yet! <a href="{% url 'createRule' %}">Create or import one?</a></span>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}