{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Password{% endblock title %}
{% block content %}
<meta http-equiv="refresh" content="2; URL=/" />

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                {% if form.errors %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% else %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% endif %}
            </div>
            <div class="col-lg-12 login-title">
                Password change
            </div>

            <div class="col-lg-12" style="margin: 60px 20px 10px 0px">
                    <svg class="bi" fill="#1e453e" style="height: 60px; width: 60px; margin-right:10px"><use xlink:href="#info-circle"/></svg><label class="floatingPassword" style="font-size: 30px; color:#ECF0F5;">Your password has been updated.</label>   
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}