{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Password{% endblock title %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                {% if form.errors %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% else %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% endif %}
            </div>
            <div class="col-lg-12 login-title">
                Password change
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post">
                        <div class="form-group">
                            <label class="form-control-label">OLD PASSWORD</label>
                            <input 
                                type="password"
                                name="old_password"
                                id="old_password"
                                class="form-control form-control-sm"
                            />
                            <label class="form-control-label float-end" onclick="modifyPasswordVisibility('old_password')">SHOW</label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input 
                                type="password"
                                name="new_password1"
                                id="new_password1"
                                class="form-control form-control-sm"
                            />
                            <label class="form-control-label float-end" onclick="modifyPasswordVisibility('new_password1')">SHOW</label>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">REPEAT PASSWORD</label>
                            <input 
                                type="password"
                                name="new_password2"
                                id="new_password2"
                                class="form-control form-control-sm"
                            />
                            <label class="form-control-label float-end" onclick="modifyPasswordVisibility('new_password2')">SHOW</label>
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-12 login-btm login-text">
                                {% if form.errors %}
                                    <svg class="bi" fill="#ff5e00" style="height: 30px; width: 30px; margin-right: 10px"><use xlink:href="#info-circle"/></svg><label class="form-control-label">Please verify the provided password.</label>
                                {% endif %}
                            </div>
                            <div class="login-btm login-button">
                                <input
                            type="submit"
                            value="Register"
                            class="btn btn-outline-primary btn-block"
                            />
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}