{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Password{% endblock title %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                {% if form.errors %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% else %}
                <img
                    class="logo"
                    src="{% static 'img/logo.png' %}"
                    alt="OwlGuard" 
                    style="width:150px;height:150px;"
                />
                {% endif %}
            </div>
            <div class="col-lg-12 login-title">
                Password reset sent
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">     
                    <label class="floatingPassword" style="font-size: 15px; color:#ECF0F5;">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</label>   
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}